/* General Styles */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}  

body {
    font-family: 'Spotify Circular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #f3f4f6;
}

section {
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin-top: 20px;
}

.search-option {
    border: none;
    text-align: left;
    width: 50%;
    height: 48px;
    padding: 16px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #374151;
    color: #f3f4f6;
}

.search-option a{
    color: #f3f4f6;  
}

.search-option:hover{
    background-color: #1f2937;  
}

input[type="search"] {
    border: none;
    width: 50%;
    height: 48px;
    padding: 16px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #1f2937;
    color: #f3f4f6;
}
  
input[type="search"]:focus {
    background-color: #374151;
    outline: none;
    border: none; 
    transition: 0.3s;
}

input[type = 'search']:focus::placeholder {
    color: transparent;
}

.login-button {
    background-color: #1f2937;
    color: #f3f4f6;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    margin: 4px 24px;
    font-size: 14px;
    width: 80px;
}
  
.login-button:hover {
    background-color: #374151;
}

.title-section {
    margin: 20px 0;
    color: #f3f4f6;
    font-size: 24px;
}

a .title-section:hover {
    color: #9ca3af;
}

.list {
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
}

.list::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 10px;
    border-radius: 8px;
    background-color: #1f2937;
    transition: background-color 0.2s ease;
    display: inline-block;
    overflow: hidden;
    width: 240px;
    height: auto;
    margin: 4px;
}

.card:hover {
    background-color: #374151;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border-radius: 8px;
}

.details {
    text-align: left;
}

.title {
    color: #f3f4f6;
    margin: 4px;
    font-size: 16px;
}

.artist {
    margin: 4px;
    color: #f3f4f6;
    font-size: 14px;
}

button {
    background-color: #6b7280;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    color: #f3f4f6;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4b5563;
    transition: 0.3s;
}

#player .player-song {
    background-color: #1f2937;
    text-align: center;
    border-radius: 8px;
    padding: 24px;
}

.song-picture img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

#player .details {
    margin-bottom: 20px;
}

#player .title {
    margin: 16px;
    font-size: 24px;
}

#player .artist {
    margin: 16px;
    font-size: 18px;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.play-button , .previous-button, .next-button, .add-song-button, .delete-song-button{
    background-color: #6b7280;
}

.audio-player {
    display: flex;
    width: 80%;
    height: 40px;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #6b7280;
    border-radius: 4px;
    position: relative;
    margin: 14px;
}

.filled-progress {
    height: 100%;
    background-color: #f3f4f6;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.time-display {
    font-size: 16px;
    color: #f3f4f6;
    margin: 10px;
}

#playlist-header .playlist-song {
    text-align: center;
    background-color: #1f2937;
    border-radius: 8px;
    padding: 24px 24px;
}

.playlist-picture img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

#playlist-header .title {
    margin: 10px;
    font-size: 28px;
}

.controls {
    display: flex;
    justify-content: center;
}

.play-button , .previous-button, .next-button, .add-song-button, .delete-song-button{
    background-color: #6b7280;
    margin: 0 10px;
    font-size: 16px;
}
  
#playlist-song .player-song {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #1f2937;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#playlist-song .player-song:hover {
    background-color: #374151;
    transition: 0.3s;
}

#playlist-song .title{
    margin: 18px 18px;
    font-size: 18px;
    color: #f3f4f6;
    width: 400px;
}

#playlist-song .artist, .album, .time {
    margin: 18px 18px;
    font-size: 16px;
    color: #f3f4f6;
    width: 200px;
}

#playlist-song .controls-song {
    margin: 8px 8px;
}  
